@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;900&display=swap");
@font-face {
  font-family: 'BigJohn', sans-serif;
  src: url(../fonts/BigJohn.otf);
  font-weight: normal;
  font-style: normal;
}

*,
hover,
active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.intro {
  width: inherit;
  height: 737px;
  background: url(../images/intro_img.jpg) center no-repeat;
  position: relative;
  margin-bottom: 8rem;
}

.intro .intro__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.5rem;
  line-height: 7rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-align: center;
}

.intro .intro__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}

.intro .intro__arrow {
  position: absolute;
  bottom: 7.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 36px;
  height: 36px;
  background-color: #19bd9a;
  border-radius: 50%;
  cursor: pointer;
}

.intro .intro__arrow .pe-7s-angle-down {
  position: relative;
  font-size: 30px;
  color: #fff;
  left: 3px;
  top: 3px;
}

.header {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 4.5rem;
  padding-bottom: 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  font-family: 'BigJohn', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 900;
}

.header .header__nav {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__nav--item {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  border: 1.0px solid transparent;
  border-radius: 1.65rem;
  padding: 0.5rem 1.8rem;
  text-decoration: none;
}

.header .header__nav--item:hover {
  border-color: #fff;
}

.intro__footer {
  max-width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 5.5rem;
}

.intro__footer .intro__container--text {
  width: 55%;
  margin-top: 3rem;
}

.intro__footer .intro__container--text .intro__footer--title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #333b46;
  margin-bottom: 4rem;
}

.intro__footer .intro__container--text .intro__footer--text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #81868e;
  margin-bottom: 3rem;
}

.btn {
  display: block;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 0.8rem 3rem;
  font-weight: 400;
  color: #333b46;
  border: 1.0px solid #333b46;
  border-radius: 3rem;
  cursor: pointer;
}

.box__text {
  text-align: center;
}

.box__text .box__text--title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #333b46;
  margin-bottom: 3.5rem;
}

.box__text .box__text--text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #81868e;
}

.details {
  background: #eee;
  padding-top: 8rem;
}

.details .details__icons {
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.details .details__icons .details__icons--item {
  width: 53px;
  height: 53px;
  background-color: #81868e;
  border-radius: 50%;
}

.details .details__icons .details__icons--item span {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  padding-top: 12px;
  padding-left: 11px;
}

.details .details__icons .details__icons--item :hover {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #19bd9a;
  cursor: pointer;
}

.details .details__idea {
  max-width: 96.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 9rem;
}

.details .details__idea .details__idea--title {
  width: 46.6%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #81868e;
  padding-right: 13rem;
}

.details .details__idea .details__idea--title .idea--item-title {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  color: #464646;
}

.details .details__idea .span-green {
  font-weight: 700;
  color: #19bd9a;
}

.details .details__idea .span-black {
  font-weight: 700;
  color: #636971;
}

.details .details__idea .details__idea--item {
  padding-top: 6rem;
  width: 53.4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #81868e;
}

.projects {
  padding-top: 8rem;
  margin: 0 auto;
}

.projects .projects__img {
  max-width: 1366px;
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -2px;
}

.projects .projects__img .projects__img--target {
  position: relative;
  margin-right: -5px;
}

.projects .projects__img .projects__img--target .img-cover {
  position: absolute;
  width: 701px;
  height: 319px;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  -webkit-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s;
}

.projects .projects__img .projects__img--target:hover .img-cover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}

.projects .projects__img .projects__img--vintage,
.projects .projects__img .projects__img--brandings {
  position: relative;
}

.projects .projects__img .projects__img--vintage .img-cover,
.projects .projects__img .projects__img--brandings .img-cover {
  position: absolute;
  width: 336px;
  height: 319px;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  -webkit-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s;
}

.projects .projects__img .projects__img--vintage .img-cover .img-cover__text,
.projects .projects__img .projects__img--brandings .img-cover .img-cover__text {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding-top: 15rem;
  text-align: center;
  opacity: 0;
}

.projects .projects__img .projects__img--vintage:hover .img-cover,
.projects .projects__img .projects__img--brandings:hover .img-cover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}

.projects .projects__img .projects__img--vintage:hover .img-cover .img-cover__text,
.projects .projects__img .projects__img--brandings:hover .img-cover .img-cover__text {
  opacity: 1;
}

.project__footer {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  background-image: url(../images/project_footer.png);
}

.project__footer--container {
  max-width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.project__footer--container .project__footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  color: #ffffff;
}

.project__footer--container .project__footer-text span {
  font-weight: 700;
}

.project__footer--container .btn {
  color: #fff;
  border-color: #fff;
}

.services {
  padding-top: 8rem;
  background-color: #eee;
}

.services .services-container {
  max-width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 5.5rem;
}

.services .services-container .services__icons {
  width: 53px;
}

.services .services-container .services__icons--item {
  width: 100%;
  height: 53px;
  border-radius: 50%;
  background-color: #81868e;
  margin-bottom: 1.7rem;
}

.services .services-container .services__icons--item:hover {
  width: 100%;
  height: 53px;
  border-radius: 50%;
  background-color: #19bd9a;
}

.services .services-container .services__icons--item span {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  padding-top: 1.1rem;
  padding-left: 1.3rem;
}

.services .services-container .services__text {
  width: 39%;
}

.services .services-container .services__text .services__text--title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  color: #464646;
}
